%p#notice= notice
%p
  %strong Name:
  = @application.name

  %ul.list-group
    - @application.tasks.each do |task|
      %li.list-group-item
        = react_component('Task', {status: task.status, progress: task.progress})

= link_to 'Edit', edit_application_path(@application)
|
= link_to 'Back', applications_path
